<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/index/<%=userId%>">Travel Quest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index/<%=userId%>">Home</a>
          <li class="nav-item">
            <a class="nav-link" href="/profile/<%=userId%>">Profile</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">View Packages</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/packageSearch?class=package&level=Diamond&userId=<%= userId %>">Diamond</a>
              <li><a class="dropdown-item" href="/packageSearch?class=package&level=Gold&userId=<%= userId %>">Gold</a>
              <li><a class="dropdown-item" href="/packageSearch?class=package&level=Silver&userId=<%= userId %>">Silver</a>
            </ul>
          
          <li class="nav-item">
            <a class="nav-link" href="/random?userId=<%= userId %>">Random</a>
          
        </ul>
        <form role="search" action="/search">
          <input class="form-control" type="search" placeholder="Search" name="destination">
          <input type="hidden" name="userId" value="<%= userId %>">
        </form>
      </div>
    </div>
  </nav>