<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travellers Quest</title>
    <%- include('partials/bootstrap'); %>
        <link rel="stylesheet" href="../css/styles.css">
        <script type="module">
            // Initialize and add the map
            const destinations = <%-destJSON%>;
            function initMap() {
                // The location of Uluru
                const uluru = {
                    lat: 0,
                    lng: 0
                }
                // The map, centered at Uluru
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 2,
                    center: uluru,
                });
                let markers = [];
                let infoWindows = [];
                let positions = [];
                let i=0;
                destinations.forEach((destination)=> {
                    if(destination.lat) {
                        positions.push({
                            lat: destination.lat,
                            lng: destination.lng
                        });
                        markers.push(new google.maps.Marker({
                            position: positions[i],
                            map: map,
                            id: i
                        }));
                        let box = `<div class="info-card m-auto " style="width: 18rem;"><img src="../images/${destination.image}" class="card-img-top" alt="..." width="275px" height="183px"><div class="card-body"><h5 class="card-title">${destination.name}</h5><p class="card-text">${destination.description.substring(0,150)}...</p><form action="/destination/${destination.name}" method="post"><input type="hidden" name="userId" value="<%= userId %>"><button class="btn btn-outline-dark" name="destinationName" value="${destination.name}">Go</button></form></div></div>`;
                        infoWindows.push(new google.maps.InfoWindow({
                             content: box,
                             active: false
                        }));
                        
                        i++;
                    }
                });
                for(let i=0;i<markers.length;i++) {
                    markers[i].addListener('click', ()=> {
                            console.log(infoWindows[i]);
                            if(infoWindows[i].active) {
                                infoWindows[i].active=false;
                                infoWindows[i].close()
                                return;
                            } else {
                                
                                for(let j=0;j<markers.length;j++) {
                                    if(infoWindows[j].active) {
                                        infoWindows[j].active=false;
                                        infoWindows[j].close();
                                    }
                                }
                                    infoWindows[i].active=true;
                                    infoWindows[i].open({
                                        anchor: markers[i],
                                        map: map
                                    });
                            }
                        });
                }
            }

            window.initMap = initMap;
        </script>
</head>

<body>
    <%- include('partials/navbar'); %>
        <div class="hero color-black px-4 pt-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">The Journey is the Destination</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Where would you like to go?</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <form action="/search" role="search" class="row">
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <div class="row">
                            <div class="col-6">
                                <input class="form-control" type="search" placeholder="Search" name="destination">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="date" name="from">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="date" name="to">
                            </div>
                        </div>
                        <div class="col-12 my-4">
                            <input class="btn btn-outline-dark form-control" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="main container text-center">
            <div class="row pop-dest m-auto gx-5 gy-5">
                <h3 class="p-3 col-12">Most Popular Destinations</h3>
                <% topDestinations.forEach((destination)=> { %>
                    <div class="info-card col-4 m-auto my-4" style="width: 18rem;">
                        <img src="../images/<%= destination.image %>" class="card-img-top" alt="..." width="275px"
                            height="183px">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= destination.name %>
                            </h5>
                            <p class="card-text">
                                <%= destination.description.substring(0,150); %>...
                            </p>
                            <form action="/destination/<%= destination.name %>" method="post">
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <button class="btn btn-outline-dark my-3" name="destinationName"
                                    value="<%= destination.name %>">Go</button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <div class="row m-auto all-dest gx-5 gy-5">
                <h3 class="p-3 col-12">All Destinations</h3>
                <% destinations.forEach((destination)=> { %>
                    <div class="info-card col-3 m-auto my-3" style="width: 18rem;">
                        <img src="../images/<%= destination.image %>" class="card-img-top" alt="..." width="275px"
                            height="183px">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= destination.name %>
                            </h5>
                            <p class="card-text">
                                <%= destination.description.substring(0,150); %>...
                            </p>
                            <form action="/destination/<%= destination.name %>" method="post">
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <button class="btn btn-outline-dark my-3" name="destinationName"
                                    value="<%= destination.name %>">Go</button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <div id="map"></div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=<%-key %>&callback=initMap&v=weekly"
                defer>
            </script>
</body>

</html>