<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= userName %></title>
    
    <%- include('partials/bootstrap'); %> 
</head>
<body>
<%
    function date(iso) {
        d = new Date(iso);
        return d.toLocaleDateString('en-GB', {day:'numeric', month:'short', year:'numeric'});
    }
%>

<%- include('partials/navbar')%>

<main class="flex-shrink-0">

    <h1>User: <%= user.username %></h1>
    <h5>Id: <%= user._id %></h5>
    <h5>Mobile: <%= user.mobile %></h5>
    <h5>Email: <%= user.email %></h5>
    <h2>Transaction History: </h2>
    <% for (let package of boughtPackages) {%>
        <div class="info-card">
            <h5>Transaction Id: <%= package.transactionId %></h5>
            <h5>Package Id: <%= package._id %> </h5>
            <h5>Cost: <%= package.cost %></h5>
            <h5>Destination: <%= package.destination %></h5>
            <h5>From: <%= date(package.from) %></h5>
            <h5>To: <%= date(package.to) %></p>
        </div>
    <%}%>
</main>
</body>

</html>