<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= level %> Package Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</head>

<%- include('partials/navbar'); %>
<%
    function date(iso) {
        d = new Date(iso);
        return d.toLocaleDateString('en-GB', {day:'numeric', month:'short', year:'numeric'});
    }
%>
<main>
    <div class="container text-center px-4">
        <div class="row gx-5 gy-5">
            <h3 class="p-3 col-12"><%= level %> Packages</h3>
            <% packages.forEach((package)=> { %>
                <div class="info-card bg-light p-3 col-12">
                    <div class="card-head">
                        <h4><%= package.destination %></h4>
                    </div>
                    <div class="card-body">
                       <h5>From: <%= date(package.from) %></h5> 
                       <h5>To: <%= date(package.to) %></h5> 
                       <h5>Type: <%= package.level %></h5> 
                       <h5>Cost[Per Person]: <%= package.cost %></h5> 
                       <h5>Discount: <%= package.discount * 100 %>%</h5> 
                    </div>
                    <div class="card-foot">
                        <form action="/buy" method="post">
                            <button class="btn btn-outline-dark my-3" name="packageId" value="<%= package._id %>">Buy</button>
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="cost" value="<%= package.cost %>">
                        </form>
                    </div>
                </div>
            <% }) %>    

        </div>
    </div>
</main>
</body>
</html>